.button {
    font: inherit;
    border: 1px solid rgb(53, 53, 204);
    background: rgb(53, 53, 204);
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;

  }
  
  .button:hover,
  .button:active {
    background: rgb(108, 108, 180);
    border-color: rgb(108, 108, 180);
    font-weight: bold;
  }
  
  .button:focus {
    outline: none;
  }